/* Estilo general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; 
  z-index: 1000; 
}

header .logo {
  height: 50px; 
  margin-right: 10px; 
  flex-shrink: 0; 
}

header h1 {
  margin: 0;
  font-size: 1.5em; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #4b9ce9;
  color: white;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  margin: 20px 0;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}


#listalibro {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  padding: 0;
  margin: 0;
  justify-items: center;
}

#listalibro > * {
  width: 200px;           
  background-color: #f9f9f9;
  border: 2px solid rgb(90, 89, 89);  
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#listalibro h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 3% 0; }


#listalibro p {
  margin: 3px 0; 
  font-size: 0.9em;
  line-height: 1.2; 
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; 
  position: relative; 
  bottom: 0; 
}



@media (max-width: 768px) {
  #listalibro {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  #listalibro {
    grid-template-columns: 1fr;
  }
}
